<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 
    - primary meta tag
  -->
    <title>Guidelines</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg')}}" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guidelines.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image"
        href="{{ url_for('static', filename='images/hero-banner.jpg')}}">

</head>

<body id="top">

    <main>
        <article>

            <!-- 
        - #SERVICE
      -->

            <section class="section service" aria-label="service">
                <div class="container">

                    <img src="{{ url_for('static', filename='images/service-image.png')}}"
                        width="122" height="136" loading="lazy" alt=""
                        class="img">

                    <h2 class="h2 section-title">
                        <span class="span">Guidelines</span> when they need it.
                    </h2>

                    <ul class="grid-list">

                        <li>
                            <div class="service-card">

                                <figure class="card-icon">
                                    <img src="{{ url_for('static', filename='images/service-icon-1.png')}}"
                                        width="70" height="70" loading="lazy"
                                        alt="service icon">
                                </figure>

                                <h3 class="h3 card-title">Step 1</h3>

                                <p class="card-text">
                                    Try Clothes Virtually by uploading image .
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <figure class="card-icon">
                                    <img src="{{ url_for('static', filename='images/service-icon-2.png')}}"
                                        width="70" height="70" loading="lazy"
                                        alt="service icon">
                                </figure>

                                <h3 class="h3 card-title">Step 2</h3>

                                <p class="card-text">
                                    35% off your first order plus 5% off all future orders.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <figure class="card-icon">
                                    <img src="{{ url_for('static', filename='images/service-icon-3.png')}}"
                                        width="70" height="70" loading="lazy"
                                        alt="service icon">
                                </figure>

                                <h3 class="h3 card-title">Step 3</h3>

                                <p class="card-text">
                                    25% off your online order of $50+. Available at most locations.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <figure class="card-icon">
                                    <img src="{{ url_for('static', filename='images/service-icon-4.png')}}"
                                        width="70" height="70" loading="lazy"
                                        alt="service icon">
                                </figure>

                                <h3 class="h3 card-title">Step 4</h3>

                                <p class="card-text">
                                    Shop online to get orders over $35 shipped fast and free.
                                </p>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>
</body>

</html>